In [1]:
import pandas as pd

In [2]:
path = "0-Data/AirplaneCrashesFinal.csv"

In [7]:
aircraft_data = pd.read_csv(path)

In [8]:
aircraft_data.head(5)

,Unnamed: 0,Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,...,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Summary,Location,Latitude,Longitude,geometry
0,0,17/09/1908,17:18,Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,...,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly...","Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
1,1,7/09/1909,NaN,NaN,NaN,,Wright Byplane,SC1,NaN,1.0,...,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,"Juvisy-sur-Orge, France",48.690406,2.373809,POINT (48.6904063 2.373809)
2,2,12/07/1912,6:30,Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,...,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
3,3,6/08/1913,NaN,Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,...,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...,"Victoria, British Columbia, Canada",48.428318,-123.364953,POINT (48.4283182 -123.3649533)
4,4,9/09/1913,18:30,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,...,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...,the North Sea,56.741234,2.891172,POINT (56.74123355 2.89117171668805)

In [17]:
working_data = aircraft_data
working_data.shape

(1231, 21)

In [16]:
working_data.["Fatality%"] =

,Unnamed: 0,Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,...,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Summary,Location,Latitude,Longitude,geometry
217,217,19/01/1930,18:23,Maddux Airlines,7,"Aqua Caliente, Mexico - Los Angeles",Ford 5-AT-C Tri Motor,NC9689,5-AT-046,16.0,...,2.0,16.0,14.0,2.0,0.0,"While en route to Los Angeles, the pilot, flyi...","Oceanside, California",33.195870,-117.379483,POINT (33.1958696 -117.3794834)
247,247,31/03/1931,10:45,Trans Continental and Western Air,599,Kansas City - Wichita - Los Angeles,Fokker F10A Trimotor,NC-999,1063,8.0,...,2.0,8.0,6.0,2.0,0.0,"Shortly after taking off from Kansas City, one...","Bazaar, Kansas",38.271960,-96.535285,POINT (38.2719604 -96.53528540000001)
348,348,31/08/1934,22:45,Rapid Air Transport,6,Kansas City - Saint Joseph - Omaha,Stinson SM-6000B,NC11118,5004,5.0,...,1.0,5.0,4.0,1.0,0.0,The plane crashed about 11 miles from St. Jose...,"Amazonia, Missouri",39.887000,-94.892021,POINT (39.8870003 -94.892021)
370,370,6/05/1935,3:30,Trans Continental and Western Air,6,Los Angeles - Albuquerque - Kanasas City - Wa...,Douglas DC-2-112,NC13785,1295,14.0,...,2.0,5.0,3.0,2.0,0.0,The plane crashed while en route from Albuquer...,"Atlanta, Missouri",39.898646,-92.481021,POINT (39.898646 -92.4810208)
384,384,14/08/1935,23:45,Delta Air Lines,4,Dallas - Atlanta,Stinson Model A,NC14599,9103,4.0,...,1.0,4.0,3.0,1.0,0.0,Crashed 3 miles south of Gilmer. The outboard ...,"Gilmer, Texas",32.731226,-94.946931,POINT (32.7312256 -94.9469309)