In [1]:
import pandas as pd
import datetime as dt

In [2]:
path = "0-Data/AirplaneCrashesFinal.csv"

In [3]:
aircraft_data = pd.read_csv(path)

In [4]:
aircraft_data.head(5)

,Unnamed: 0,Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,...,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Summary,Location,Latitude,Longitude,geometry
0,0,17/09/1908,17:18,Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,...,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly...","Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
1,1,7/09/1909,NaN,NaN,NaN,,Wright Byplane,SC1,NaN,1.0,...,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,"Juvisy-sur-Orge, France",48.690406,2.373809,POINT (48.6904063 2.373809)
2,2,12/07/1912,6:30,Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,...,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
3,3,6/08/1913,NaN,Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,...,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...,"Victoria, British Columbia, Canada",48.428318,-123.364953,POINT (48.4283182 -123.3649533)
4,4,9/09/1913,18:30,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,...,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...,the North Sea,56.741234,2.891172,POINT (56.74123355 2.89117171668805)

In [5]:
working_data = aircraft_data
working_data.shape

(4967, 21)

In [6]:
working_data.isna().sum()

Unnamed: 0                  0
Date                        0
Time                     1510
Operator                   10
Flight #                 3652
Route                     774
AC Type                    15
Registration              273
cn/ln                     668
Aboard                     18
Aboard Passengers         229
Aboard Crew               226
Fatalities                  8
Fatalities Passengers     242
Fatalities Crew           241
Ground                     41
Summary                    64
Location                    4
Latitude                    4
Longitude                   4
geometry                    0
dtype: int64

In [7]:
cln_data = working_data.drop(columns = ["Flight #" , "Time", "cn/ln", "Summary", "Registration"])

In [8]:
cln_data.dropna(inplace = True)
cln_data.shape

(4090, 16)

In [9]:
cln_data["Date"] = pd.to_datetime(cln_data["Date"], format='%d/%m/%Y')
cln_data.head(5)

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122)
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562)
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667)

In [10]:
cln_data.sort_values(by=["Date"])

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122)
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562)
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,4962,2019-04-16,Archipelagos Service Aereos,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,6.0,5.0,1.0,6.0,5.0,1.0,0.0,"Puerto Montt, Chile",-41.471812,-72.939621,POINT (-41.4718121 -72.939621)
4963,4963,2019-05-05,TVPX Aircraft Solutions,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,13.0,11.0,2.0,13.0,11.0,2.0,0.0,"Monclava, Mexico",-33.961279,18.656969,POINT (-33.9612794 18.6569689)
4964,4964,2019-05-05,Aeroflot Russian International Airlines,Moscow - Murmansk,Sukhoi Superjet-100-95B,78.0,73.0,5.0,41.0,40.0,1.0,0.0,"Moscow, Russia",55.750446,37.617494,POINT (55.7504461 37.6174943)
4965,4965,2019-06-03,Military - Indian Air Force,Jorhat-Rowriah - Mechuka,Antonov An-32,13.0,5.0,8.0,13.0,5.0,8.0,0.0,"Lipo, India",4.174020,32.834960,POINT (4.17402 32.83496)
4966,4966,2019-07-30,Military - Pakistan Army,Training,Beechcraft B300 King Air,5.0,0.0,5.0,5.0,0.0,5.0,14.0,"Rawalpindi, India",30.929230,74.621281,POINT (30.9292303 74.6212807)

In [11]:
cln_data["Date"].min

<bound method Series.min of 0      1908-09-17
2      1912-07-12
27     1919-08-02
32     1919-12-11
34     1920-03-30
          ...
4962   2019-04-16
4963   2019-05-05
4964   2019-05-05
4965   2019-06-03
4966   2019-07-30
Name: Date, Length: 4090, dtype: datetime64[ns]>

In [12]:
cln_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4090 entries, 0 to 4966
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4090 non-null   int64
 1   Date                   4090 non-null   datetime64[ns]
 2   Operator               4090 non-null   object
 3   Route                  4090 non-null   object
 4   AC Type                4090 non-null   object
 5   Aboard                 4090 non-null   float64
 6   Aboard Passengers      4090 non-null   float64
 7   Aboard Crew            4090 non-null   float64
 8   Fatalities             4090 non-null   float64
 9   Fatalities Passengers  4090 non-null   float64
 10  Fatalities Crew        4090 non-null   float64
 11  Ground                 4090 non-null   float64
 12  Location               4090 non-null   object
 13  Latitude               4090 non-null   float64
 14  Longitude              4090 non-null   float64
 15  geometry               4090 non-null   object
dtypes: datetime64[ns](1), float64(9), int64(1), object(5)
memory usage: 543.2+ KB