In [41]:
import pandas as pd
import datetime as dt

In [42]:
path = "0-Data/AirplaneCrashesFinal.csv"

In [43]:
aircraft_data = pd.read_csv(path)

In [44]:
aircraft_data.head(5)

,Unnamed: 0,Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,...,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Summary,Location,Latitude,Longitude,geometry
0,0,17/09/1908,17:18,Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,...,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly...","Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
1,1,7/09/1909,NaN,NaN,NaN,,Wright Byplane,SC1,NaN,1.0,...,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,"Juvisy-sur-Orge, France",48.690406,2.373809,POINT (48.6904063 2.373809)
2,2,12/07/1912,6:30,Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,...,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
3,3,6/08/1913,NaN,Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,...,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...,"Victoria, British Columbia, Canada",48.428318,-123.364953,POINT (48.4283182 -123.3649533)
4,4,9/09/1913,18:30,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,...,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...,the North Sea,56.741234,2.891172,POINT (56.74123355 2.89117171668805)

In [45]:
working_data = aircraft_data
working_data.shape

(4967, 21)

In [46]:
working_data.isna().sum()

Unnamed: 0                  0
Date                        0
Time                     1510
Operator                   10
Flight #                 3652
Route                     774
AC Type                    15
Registration              273
cn/ln                     668
Aboard                     18
Aboard Passengers         229
Aboard Crew               226
Fatalities                  8
Fatalities Passengers     242
Fatalities Crew           241
Ground                     41
Summary                    64
Location                    4
Latitude                    4
Longitude                   4
geometry                    0
dtype: int64

In [47]:
cln_data = working_data.drop(columns = ["Flight #" , "Time", "cn/ln", "Summary", "Registration"])

In [48]:
cln_data.dropna(inplace = True)
cln_data.shape

(4090, 16)

In [49]:
cln_data["Date"] = pd.to_datetime(cln_data["Date"], format='%d/%m/%Y')
cln_data.head(5)

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122)
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562)
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667)

In [50]:
cln_data.sort_values(by=["Date"])

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122)
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562)
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,4962,2019-04-16,Archipelagos Service Aereos,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,6.0,5.0,1.0,6.0,5.0,1.0,0.0,"Puerto Montt, Chile",-41.471812,-72.939621,POINT (-41.4718121 -72.939621)
4963,4963,2019-05-05,TVPX Aircraft Solutions,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,13.0,11.0,2.0,13.0,11.0,2.0,0.0,"Monclava, Mexico",-33.961279,18.656969,POINT (-33.9612794 18.6569689)
4964,4964,2019-05-05,Aeroflot Russian International Airlines,Moscow - Murmansk,Sukhoi Superjet-100-95B,78.0,73.0,5.0,41.0,40.0,1.0,0.0,"Moscow, Russia",55.750446,37.617494,POINT (55.7504461 37.6174943)
4965,4965,2019-06-03,Military - Indian Air Force,Jorhat-Rowriah - Mechuka,Antonov An-32,13.0,5.0,8.0,13.0,5.0,8.0,0.0,"Lipo, India",4.174020,32.834960,POINT (4.17402 32.83496)
4966,4966,2019-07-30,Military - Pakistan Army,Training,Beechcraft B300 King Air,5.0,0.0,5.0,5.0,0.0,5.0,14.0,"Rawalpindi, India",30.929230,74.621281,POINT (30.9292303 74.6212807)

In [51]:
cln_data["Date"].min

<bound method Series.min of 0      1908-09-17
2      1912-07-12
27     1919-08-02
32     1919-12-11
34     1920-03-30
          ...
4962   2019-04-16
4963   2019-05-05
4964   2019-05-05
4965   2019-06-03
4966   2019-07-30
Name: Date, Length: 4090, dtype: datetime64[ns]>

In [52]:
cln_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4090 entries, 0 to 4966
Data columns (total 16 columns):
Unnamed: 0               4090 non-null int64
Date                     4090 non-null datetime64[ns]
Operator                 4090 non-null object
Route                    4090 non-null object
AC Type                  4090 non-null object
Aboard                   4090 non-null float64
Aboard Passengers        4090 non-null float64
Aboard Crew              4090 non-null float64
Fatalities               4090 non-null float64
Fatalities Passengers    4090 non-null float64
Fatalities Crew          4090 non-null float64
Ground                   4090 non-null float64
Location                 4090 non-null object
Latitude                 4090 non-null float64
Longitude                4090 non-null float64
geometry                 4090 non-null object
dtypes: datetime64[ns](1), float64(9), int64(1), object(5)
memory usage: 543.2+ KB

In [53]:
cln_data['Passenger_Crew'] = cln_data['Aboard Passengers'] + cln_data['Aboard Crew']
cln_data['Passenger_Crew_Fatalities'] = cln_data['Fatalities Passengers'] + cln_data['Fatalities Crew']
cln_data['Fatality_Rate'] = cln_data['Passenger_Crew_Fatalities'] / cln_data['Passenger_Crew'] * 100

cln_data.head(10)

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry,Passenger_Crew,Passenger_Crew_Fatalities,Fatality_Rate
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),2.0,1.0,50.000000
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),5.0,5.0,100.000000
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),14.0,14.0,100.000000
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),2.0,2.0,100.000000
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1.0,1.0,100.000000
49,49,1920-12-14,Handley Page Transport,London - Paris,Handley Page HP-16,8.0,6.0,2.0,4.0,2.0,2.0,0.0,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),8.0,4.0,50.000000
61,61,1921-09-06,Franco-Roumaine,Warsaw - Prague - Strasbourg - Paris,Potez IX,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),5.0,5.0,100.000000
62,62,1921-12-05,West Australian Airways,Geraldton - Derby,Bristol 28 Tourer,2.0,0.0,2.0,2.0,0.0,2.0,0.0,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),2.0,2.0,100.000000
65,65,1922-03-22,Aero Limited,Miami - Bimini,Aeromarine Model 85 (flying boat),6.0,5.0,1.0,5.0,5.0,0.0,0.0,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),6.0,5.0,83.333333
66,66,1922-04-07,Daimler Airways / Grands Express Aeriens,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,7.0,5.0,2.0,7.0,5.0,2.0,0.0,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),7.0,7.0,100.000000

In [54]:
cln_data.isnull().sum()

Unnamed: 0                   0
Date                         0
Operator                     0
Route                        0
AC Type                      0
Aboard                       0
Aboard Passengers            0
Aboard Crew                  0
Fatalities                   0
Fatalities Passengers        0
Fatalities Crew              0
Ground                       0
Location                     0
Latitude                     0
Longitude                    0
geometry                     0
Passenger_Crew               0
Passenger_Crew_Fatalities    0
Fatality_Rate                2
dtype: int64

In [55]:
cln_data['Fatality_Rate'] = cln_data['Fatality_Rate'].fillna(0)
cln_data.isnull().sum()

Unnamed: 0                   0
Date                         0
Operator                     0
Route                        0
AC Type                      0
Aboard                       0
Aboard Passengers            0
Aboard Crew                  0
Fatalities                   0
Fatalities Passengers        0
Fatalities Crew              0
Ground                       0
Location                     0
Latitude                     0
Longitude                    0
geometry                     0
Passenger_Crew               0
Passenger_Crew_Fatalities    0
Fatality_Rate                0
dtype: int64

In [56]:
cln_data['Origin'] = cln_data['Route'].str.split(' ').str[0]
cln_data.head(20)

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry,Passenger_Crew,Passenger_Crew_Fatalities,Fatality_Rate,Origin
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),2.0,1.0,50.000000,Demonstration
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),5.0,5.0,100.000000,Test
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),14.0,14.0,100.000000,Venice
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),2.0,2.0,100.000000,Paris
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1.0,1.0,100.000000,Washington
49,49,1920-12-14,Handley Page Transport,London - Paris,Handley Page HP-16,8.0,6.0,2.0,4.0,2.0,2.0,0.0,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),8.0,4.0,50.000000,London
61,61,1921-09-06,Franco-Roumaine,Warsaw - Prague - Strasbourg - Paris,Potez IX,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),5.0,5.0,100.000000,Warsaw
62,62,1921-12-05,West Australian Airways,Geraldton - Derby,Bristol 28 Tourer,2.0,0.0,2.0,2.0,0.0,2.0,0.0,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),2.0,2.0,100.000000,Geraldton
65,65,1922-03-22,Aero Limited,Miami - Bimini,Aeromarine Model 85 (flying boat),6.0,5.0,1.0,5.0,5.0,0.0,0.0,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),6.0,5.0,83.333333,Miami
66,66,1922-04-07,Daimler Airways / Grands Express Aeriens,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,7.0,5.0,2.0,7.0,5.0,2.0,0.0,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),7.0,7.0,100.000000,Croydon
68,68,1922-06-03,Cie des Messageries Aeriennes,Croydon - Paris,Bleriot Spad 27,3.0,2.0,1.0,3.0,2.0,1.0,0.0,"Folkestone, Kent, England",51.079134,1.179407,POINT (51.07913350000001 1.1794073),3.0,3.0,100.000000,Croydon
70,70,1922-07-16,Compagnie Franco-Roumaine de Navigaation Aerienne,Strasbourg - Paris,Potez 29,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Saverne, Lorraine, France",48.741991,7.362595,POINT (48.7419909 7.3625953),5.0,5.0,100.000000,Strasbourg
73,73,1922-10-02,de Havilland Air Service,Venice - London,de Havilland DH-9,4.0,3.0,1.0,4.0,3.0,1.0,0.0,"Venice, Italy",45.437191,12.334590,POINT (45.4371908 12.3345898),4.0,4.0,100.000000,Venice
75,75,1922-12-03,Grands Express Aeriens,Toulouse - Barcelona - Valencia - Alicante - M...,Breguet 14,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Fez, Morocco",34.034653,-5.016193,POINT (34.0346534 -5.0161926),1.0,1.0,100.000000,Toulouse
80,80,1923-05-14,Grands Express Aeriens (Air Union),Paris - London,Farman F-60 Goliath,6.0,4.0,2.0,6.0,4.0,2.0,0.0,"Amiens, Picrdie, France",49.899796,2.216300,POINT (49.899796 2.2163),6.0,6.0,100.000000,Paris
81,81,1923-08-27,Air Union,Paris - Berck-sur-Mer - Croydon,Farman F.60 Goliath,11.0,9.0,2.0,1.0,1.0,0.0,0.0,"East Mallling, United Kingdom",51.188191,-2.225989,POINT (51.188191 -2.225989),11.0,1.0,9.090909,Paris
84,84,1923-09-14,Daimler Airways,Croydon - Manchester,de Havilland DH-34,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Ivinghoe, Buckinghamshire, England",51.836403,-0.629889,POINT (51.8364034 -0.6298887),5.0,5.0,100.000000,Croydon
90,90,1924-04-24,KLM Royal Dutch Airlines,"Lympne, England - Rotterdam, The Netherlands",Fokker F.III,3.0,2.0,1.0,3.0,2.0,1.0,0.0,the English Channel,50.134487,-1.913821,POINT (50.1344865 -1.9138205),3.0,3.0,100.000000,"Lympne,"
91,91,1924-06-08,SCADTA,Barranquilla - Bogota,Junkers F-13,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Barranquilla, Colombia",10.979967,-74.801308,POINT (10.9799669 -74.80130849999998),5.0,5.0,100.000000,Barranquilla
95,95,1924-12-24,Imperial Airways,London - Paris,de Havilland DH-34B,8.0,7.0,1.0,8.0,7.0,1.0,0.0,"Purley, England",51.338516,-0.115893,POINT (51.3385156 -0.115893),8.0,8.0,100.000000,London

In [57]:
cln_data['Origin'] = cln_data['Origin'].map(lambda x: x.lstrip('+-,_').rstrip('+-,_'))
cln_data.head(20)

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry,Passenger_Crew,Passenger_Crew_Fatalities,Fatality_Rate,Origin
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),2.0,1.0,50.000000,Demonstration
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),5.0,5.0,100.000000,Test
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),14.0,14.0,100.000000,Venice
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),2.0,2.0,100.000000,Paris
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1.0,1.0,100.000000,Washington
49,49,1920-12-14,Handley Page Transport,London - Paris,Handley Page HP-16,8.0,6.0,2.0,4.0,2.0,2.0,0.0,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),8.0,4.0,50.000000,London
61,61,1921-09-06,Franco-Roumaine,Warsaw - Prague - Strasbourg - Paris,Potez IX,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),5.0,5.0,100.000000,Warsaw
62,62,1921-12-05,West Australian Airways,Geraldton - Derby,Bristol 28 Tourer,2.0,0.0,2.0,2.0,0.0,2.0,0.0,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),2.0,2.0,100.000000,Geraldton
65,65,1922-03-22,Aero Limited,Miami - Bimini,Aeromarine Model 85 (flying boat),6.0,5.0,1.0,5.0,5.0,0.0,0.0,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),6.0,5.0,83.333333,Miami
66,66,1922-04-07,Daimler Airways / Grands Express Aeriens,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,7.0,5.0,2.0,7.0,5.0,2.0,0.0,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),7.0,7.0,100.000000,Croydon
68,68,1922-06-03,Cie des Messageries Aeriennes,Croydon - Paris,Bleriot Spad 27,3.0,2.0,1.0,3.0,2.0,1.0,0.0,"Folkestone, Kent, England",51.079134,1.179407,POINT (51.07913350000001 1.1794073),3.0,3.0,100.000000,Croydon
70,70,1922-07-16,Compagnie Franco-Roumaine de Navigaation Aerienne,Strasbourg - Paris,Potez 29,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Saverne, Lorraine, France",48.741991,7.362595,POINT (48.7419909 7.3625953),5.0,5.0,100.000000,Strasbourg
73,73,1922-10-02,de Havilland Air Service,Venice - London,de Havilland DH-9,4.0,3.0,1.0,4.0,3.0,1.0,0.0,"Venice, Italy",45.437191,12.334590,POINT (45.4371908 12.3345898),4.0,4.0,100.000000,Venice
75,75,1922-12-03,Grands Express Aeriens,Toulouse - Barcelona - Valencia - Alicante - M...,Breguet 14,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Fez, Morocco",34.034653,-5.016193,POINT (34.0346534 -5.0161926),1.0,1.0,100.000000,Toulouse
80,80,1923-05-14,Grands Express Aeriens (Air Union),Paris - London,Farman F-60 Goliath,6.0,4.0,2.0,6.0,4.0,2.0,0.0,"Amiens, Picrdie, France",49.899796,2.216300,POINT (49.899796 2.2163),6.0,6.0,100.000000,Paris
81,81,1923-08-27,Air Union,Paris - Berck-sur-Mer - Croydon,Farman F.60 Goliath,11.0,9.0,2.0,1.0,1.0,0.0,0.0,"East Mallling, United Kingdom",51.188191,-2.225989,POINT (51.188191 -2.225989),11.0,1.0,9.090909,Paris
84,84,1923-09-14,Daimler Airways,Croydon - Manchester,de Havilland DH-34,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Ivinghoe, Buckinghamshire, England",51.836403,-0.629889,POINT (51.8364034 -0.6298887),5.0,5.0,100.000000,Croydon
90,90,1924-04-24,KLM Royal Dutch Airlines,"Lympne, England - Rotterdam, The Netherlands",Fokker F.III,3.0,2.0,1.0,3.0,2.0,1.0,0.0,the English Channel,50.134487,-1.913821,POINT (50.1344865 -1.9138205),3.0,3.0,100.000000,Lympne
91,91,1924-06-08,SCADTA,Barranquilla - Bogota,Junkers F-13,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Barranquilla, Colombia",10.979967,-74.801308,POINT (10.9799669 -74.80130849999998),5.0,5.0,100.000000,Barranquilla
95,95,1924-12-24,Imperial Airways,London - Paris,de Havilland DH-34B,8.0,7.0,1.0,8.0,7.0,1.0,0.0,"Purley, England",51.338516,-0.115893,POINT (51.3385156 -0.115893),8.0,8.0,100.000000,London